@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Medium.ttf);
}

:root {
    /* Fonts */
    --roboto: "Roboto";
    --bold: 700;
    --medium: 500;
    --regular: 400;
    --txt60: 60px;
    --txt50: 50px;
    --txt40: 40px;
    --txt24: 24px;
    --txt20: 20px;
    --txt17: 17px;
    --txt15: 15px;
    --txt13: 13px;

    /* Colors */
    --darkBlue: #072AC8;
    --neutralBlue: #43D2FF;
    --mediumBlue: #A2D6F9;
    --lightBlue: #D1EDFF;
    --darkGrey: #292E47;
    --mediumGrey: #6B708D;
    --lightGrey: #F2F4FC;
    --skyBlue: #ECF7FF;
    --yellow: #FFC600;
}

*{
    margin: 0;
    padding: 0;
}

.bg-dark-blue{
    background-color: var(--darkBlue);
}

.bg-medium-blue{
    background-color: var(--mediumBlue);
}

.bg-light-blue{
    background-color: var(--lightBlue);
}

.bg-dark-grey{
    background-color: var(--darkGrey);
}

.bg-medium-grey{ 
    background-color: var(--mediumGrey);
}

.bg-medium-grey-op1{ 
    background-color: rgba(107, 112, 141, 0.1);;
}

.bg-light-grey{ 
    background-color: var(--lightGrey);
}

.bg-sky-blue{
    background-color: var(--skyBlue);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-white{
    background-color: #ffffff;
}

.color-dark-blue{
    color: var(--darkBlue);
}

.color-medium-blue{
    color: var(--mediumBlue);
}

.color-yellow{
    color: var(--yellow);
}

.color-dark-grey{
    color: var(--darkGrey);
}

.color-medium-grey{
    color: var(--mediumGrey);
}

.color-white{
    color: #ffffff;
}

.bold-60{
    font-family: var(--roboto);
    font-weight: var(--bold);
    font-size: var(--txt40);
}

.bold-50{
    font-family: var(--roboto);
    font-weight: var(--bold);
    font-size: var(--txt50);
}

.bold-40{
    font-family: var(--roboto);
    font-weight: var(--bold);
    font-size: var(--txt40);
}

.bold-24{
    font-family: var(--roboto);
    font-weight: var(--bold);
    font-size: var(--txt24);
}

.medium-24{
    font-family: var(--roboto);
    font-weight: var(--medium);
    font-size: var(--txt24);
}

.medium-17{
    font-family: var(--roboto);
    font-weight: var(--medium);
    font-size: var(--txt17);
}

.regular-20{
    font-family: var(--roboto);
    font-weight: var(--regular);
    font-size: var(--txt20);
}

.regular-17{
    font-family: var(--roboto);
    font-weight: var(--regular);
    font-size: var(--txt17);
}

.regular-15{
    font-family: var(--roboto);
    font-weight: var(--regular);
    font-size: var(--txt15);
}

.regular-13{
    font-family: var(--roboto);
    font-weight: var(--regular);
    font-size: var(--txt13);
}


.testimonial{
    background-image: url(../IMG/testimonial-section/orbit.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 768px){
    .bold-60{
        font-size: var(--txt60);
    }
}
.logo img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 600ms ease;
    -webkit-transition: -webkit-filter 600ms ease;
}
.logo img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}