@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
}

:root {
    /* Fonts */
    --roboto: "Roboto";
    --bold: 700;
    --medium: 500;
    --regular: 400;
    --txt60: 60px;
    --txt50: 50px;
    --txt40: 40px;
    --txt24: 24px;
    --txt20: 20px;
    --txt17: 17px;
    --txt15: 15px;
    --txt13: 13px;

    /* Colors */
    --darkBlue: #072AC8;
    --neutralBlue: #43D2FF;
    --mediumBlue: #A2D6F9;
    --lightBlue: #D1EDFF;
    --darkGrey: #292E47;
    --mediumGrey: #6B708D;
    --lightGrey: #F2F4FC;
    --skyBlue: #ECF7FF;
    --yellow: #FFC600;
}

*{
    margin: 0;
    padding: 0;
}