:root {
    /* fonts */
    --web-headline-medium: Roboto;
    --font-poppins: Poppins;
  
    /* font sizes */
    --caption-2-size: 13px;
    --web-headline-medium-size: 17px;
    --body-regular-size: 20px;
    --body-medium-size: 24px;
    --h3-size: 40px;
    --h1-size: 60px;
  
    /* Colors */
    --neutral-light: #f4f6fc;
    --neutral-medium: #6b708d;
    --neutral-dark: #292e47;
    --color-gray-400: rgba(107, 112, 141, 0.1);
    --primary-default: #072ac8;
    --color-white: #fff;
    --secondary-1: #ffc600;
  
    /* Gaps */
    --gap-sm: 60px;
    --gap-md: 106px;
  
    /* Paddings */
    --padding-sm: 15px;
    --padding-md: 36px;
    --padding-lg: 37px;
  
    /* border radiuses */
    --br-md: 30px;
  }
  